@model FlawlessFeedbackFE.Models.Question
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">

        @Html.HiddenFor(model => model.QuestionID)

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        @Html.HiddenFor(model => model.SurveyID)
    </dl>
</div>

<div>

    @if (Context.Session.GetString("Token") != null)
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }, new { @class = "btn btn-warning" })

            @Html.ActionLink("Delete", "Delete", new { id = Model.QuestionID }, new { @class = "btn btn-danger" })
        </p>
    }
    <a asp-controller="Question" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>