@model IEnumerable<FlawlessFeedbackFE.Models.Option>

@{
    ViewData["Title"] = "Options Index";
}

<h1>Options</h1>

<p style="padding:15px 0px 15px 0px">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @Html.HiddenFor(modelItem => item.OptionID)

                <td>
                    @Html.DisplayFor(modelItem => item.OptionOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionID)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.OptionID }, new { @class = "btn btn-primary"})
                </td>
            </tr>
        }
    </tbody>
</table>